{% extends "project/base.html" %}
{% block content %}
    {% for food in foods %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <!-- <a class="mr-2" href="#">{{ food.name }}</a> -->
              <small class="text-muted">{{ food.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="food-name" href="#">{{ food.name }}</a></h2>
            <p class="food-latitude">{{ food.latitude }}</p>
            <p class="food-longitude">{{ food.longitude }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}